@mixin custom-button() {
  color: #ff6663;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-color: #ff6663;
  cursor: pointer;
}

@mixin fade-in {
  animation: fadeIn 0.75s ease-in-out;
}

@mixin fade-out {
  animation: fadeOut 0.1s ease-in-out;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translate(0, 50%);
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    // transform: translate(0, -50%);
    // opacity: 0;
    // display: none;
    transform: translate(0, -50%);
    opacity: 0;
  }
}


//Montserrat
@mixin font-montserrat-reg {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: normal;
}

@mixin font-montserrat-bold {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
}

@mixin font-montserrat-light {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: lighter;
}


// Fira Sans
@mixin font-firasans-reg {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-weight: normal;
}

@mixin font-firasans-bold {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-weight: bold;
}

@mixin font-firasans-light {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-weight: lighter;
}