@import '../../styles/partials/globals';
@import '../../styles/partials/mixins';

.header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin: 16px 0;
  width: 100%;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--name {
      @include font-firasans-bold;
      // @include font-montserrat-bold;
      font-size: 32px;
      text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
    }

    &--icon {
      transform: translateY(-6px);
      height: 4rem;
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
    }
  }

  &__start-over {
    @include font-firasans-bold;
    // @include font-montserrat-bold;
    font-size: 18px;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
  }
}