@import '../../styles/partials/globals';
@import '../../styles/partials/mixins';

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 3;

  @include tablet {
    // position: absolute;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin: 8px 0;
  width: 100%;

  @include tablet {
    padding: 0.25rem 2rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--name {
      @include font-firasans-bold;
      // @include font-montserrat-bold;
      font-size: 32px;
      text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);

      @include tablet {
        font-size: 36px;
      }
    }

    &--icon {
      transform: translateY(-2px);
      height: 3rem;
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));

      @include tablet {
        height: 3.5rem;
      }
    }
  }

  &__start-over {
    @include font-firasans-bold;
    // @include font-montserrat-bold;
    font-size: 18px;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);

    @include tablet {
      font-size: 20px;
    }
  }
}