@use '../../styles/partials/globals';

.header {
  display: flex;
  justify-content: center;
  height: 10vh;
  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-top: 1rem;
  &__item {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    &-name {
      font-size: 24px;
      font-weight: 600;
    }
    &-icon {
      padding-left: 0.5rem;
      height: 4rem;
    }
  }
}
