@use '../../styles/partials/globals' as *;
@use '../../styles/partials/mixins' as *;

.rating {
  display: none;
  &__show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include fade-in;

  &__header {
  }
  &__img {
  }
  &__buttons {
    &--yes {
    }
    &--no {
    }
  }
  &__button {
    @include custom-button();
  }
  &__dissapear {
    @include fade-out;
  }
}
